venv/
.env/
__pycache__/
*.py[cod]
*$py.class
*.log
*.env
*.DS_Store
.ipynb_checkpoints/
*.sqlite3
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
coverage/
*.cover
*.py,cover
dist/
build/
*.egg-info/
Pipfile
Pipfile.lock
